<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <h1>Create Barcode</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="data">Barcode Data:</label>
      <input type="text" name="data" id="data" class="form-control">
    </div>
    <div class="form-group">
      <label for="format">Barcode Format:</label>
      <select name="format" id="format" class="form-control">
        <option value="code39">Code 39</option>
        <option value="code128">Code 128</option>
        <option value="qr">QR Code</option>

      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>




</body>
</html>