<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product list</title>
</head>
<body>

<table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No products found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>